.container {
  width: 500px;
  margin: 0 auto;
}

.table {
  width: 500px;
  margin: 0 auto;
}

input[type="radio"] {
  display: none;
}

input[type="text"]{
  width: 225px;
  margin-bottom: 10px;
}

#searchButton {
  margin-left: 10px;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

h1 {
  font-family: cursive;
  text-align:center;
  color: blue;
}

h5 {
  font-family: serif;
  text-align:center;
  color: blue;
}

h2 {
  text-align:center;
  color: blue;
}

th {
  text-align:center;
  color: blue;
}

td {
  text-align:center;
  color: blue;
}

p {
  text-align:center;
  color: blue;
}

.App {
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* display: flex; */
}





